# =========================
# Database
# =========================
DB__DRIVER=postgresql+asyncpg
DB__HOST=localhost
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=your_db_password
DB__NAME=postgres

# =========================
# Authentication
# =========================
AUTH__JWT_PRIVATE_KEY=your_jwt_secret_key
AUTH__JWT_ALGORITHM=HS256
AUTH__JWT_ACCESS_TOKEN_EXPIRE=3600
AUTH__JWT_REFRESH_TOKEN_EXPIRE=604800
AUTH__ACCOUNT_CONFIRMATION_TOKEN_EXPIRE=86400
AUTH__PASSWORD_RESET_TOKEN_EXPIRE=3600

# =========================
# RBAC
# =========================
RBAC__ADMIN_EMAIL=admin@example.com
RBAC__ADMIN_PASSWORD=your_admin_password

# =========================
# SMTP
# =========================
SMTP__USERNAME=your_email@example.com
SMTP__PASSWORD=your_smtp_password
SMTP__HOST=smtp.gmail.com
SMTP__PORT=587
SMTP__USE_CREDENTIALS=true
SMTP__STARTTLS=true
SMTP__SSL_TLS=false
SMTP__VALIDATE_CERTS=true

# =========================
# Email
# =========================
EMAIL__FROM_NAME=UML Diagram Editor
EMAIL__ACCOUNT_CONFIRMATION_SUBJECT=Account confirmation
EMAIL__PASSWORD_RESET_SUBJECT=Password reset confirmation
EMAIL__ACCOUNT_CONFIRMATION_PATH=/auth/confirm-account
EMAIL__PASSWORD_RESET_PATH=/auth/password/change

# =========================
# Frontend
# =========================
FRONTEND__SCHEME=http
FRONTEND__HOST=localhost
FRONTEND__PORT=5173

# =========================
# Common
# =========================
COMMON__DEBUG=False
COMMON__PORT=8000