node_modules/
package-lock.json

dist/
.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

.vscode/
.idea/

.DS_Store
Thumbs.db

coverage/

*.tsbuildinfo

src/shared/api/generated/http-client.ts

uml-backend/.env